<h2 style = "text-align: center"><%= link_to("Home", root_path) %></h2>
<h2 style = "text-align: center"><%= link_to("New movie", new_movie_path) %></h2>

<div>
  <% @movies.each do |movie|  %>
  	<h2><%= link_to(movie.title, movie_path(movie.id)) %></h2>
  	<p><%= movie.director %></p>

	<% end %>
</div>
